# Ignore IDE files
.idea/
.vscode/
.mypy_cache/
.pytest_cache/
# tests-report.xml // TODO: uncomment when the coverage PR is merged
report.txt
__pycache__/
/data

# Ignore files from pytest
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Ignore mllint report
report.md

# Ignore Python byproducts in the test directory
tests/__pycache__